<%= render 'layouts/topbar' %>
<%= render 'layouts/sidebar' %>

<main class="ls-main">
  <div class="container-fluid">
    <h1 class="ls-title-intro ls-ico-list2 ls-no-bg"><%= t('.teams') %></h1>

    <% flash.each do |key, value| %>
      <div class="<%= locastyle_class_for_alert(key) %> ls-dismissable">
        <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
        <%= value %>
      </div>
    <% end %>

    <% @teams.each do |team| %>
      <div class="ls-list team_<%= team.id %>">
        <header class="ls-list-header">
          <div class="ls-list-title col-md-4">
            <a><%= team.name %></a>
          </div>
          <div class="col-md-3 col-md-offset-5 ls-txt-right">
            <%= form_for current_user do |f| %>
              <%= f.hidden_field :team_id, value: team.id %>
              <%= f.submit t('.join_team'), class: 'ls-btn-primary ls-btn-sm' %>
            <% end %>
          </div>
        </header>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
</main>
