<%= render 'layouts/pre_panel_topbar' %>
<%= render 'layouts/pre_panel_sidebar' %>

<main class="ls-main">
  <div class="container-fluid">
    <h1 class="ls-title-intro ls-ico-list2 ls-no-bg"><%= t('.teams') %></h1>

    <% flash.each do |key, value| %>
      <div class="<%= locastyle_class_for_alert(key) %> ls-dismissable">
        <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
        <%= value %>
      </div>
    <% end %>

    <div id="teams-list">
      <%= render @teams %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</main>
