<footer class="ls-footer" role="contentinfo">
  <nav class="ls-footer-menu">
    <h2 class="ls-title-footer"><%= t('useful_links') %></h2>
    <ul class="ls-footer-list">
      <li>
        <a href="https://opensource.org/licenses/MIT" target="_blank" class="bg-my-tickets">
          <span class="visible-lg"><%= t('mit_license') %></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/itumoraes/hefesto" target="_blank" class="bg-statusblog">
          <span class="visible-lg"><%= t('github') %></span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="ls-footer-info">
    <div class="ls-footer-info">
      <span class="last-access ls-ico-screen"><strong><%= t('hefesto') %>: </strong><%= t('hefesto_slogan') %></span>
      <p class="ls-copy-right"><%= t('mit_text') %></p>
    </div>
  </div>
</footer>
