<!DOCTYPE html>
<html class="ls-theme-purple ls-html-nobg">
  <head>
    <title>Hefesto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag Locastyle.url + '/stylesheets/locastyle.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag Locastyle.url + '/javascripts/locastyle.js' %>
  </body>
</html>
