<!DOCTYPE html>
<html class="ls-theme-purple ls-pre-panel">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <title>Hefesto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag Locastyle.url + '/stylesheets/locastyle.css' %>
    <%= stylesheet_link_tag :application %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag :application %>
    <%= javascript_include_tag Locastyle.url + '/javascripts/locastyle.js' %>
  </body>
</html>
